h1{
    color: #bfff00;
}
h1{
    height :100px;
}
h1{
    border-width: 7px;
    border-style: solid;
    border-color :green;
}
label{
    color: chartreuse;
}

body{
    color :rebeccapurple;
}
body{
    background-color: lightsalmon;
}
::placeholder {
    color: blue;
}

input{
    background-color: red
}